.categories {
  height: 228px;
  width: 335px;
  padding-right: 20px;
  overflow-y: scroll;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.categories::-webkit-scrollbar {
  background: none;
  width: 8px;
  border-radius: 12px;
}

.categories::-webkit-scrollbar-thumb {
  background: #e0e0e0;
}

@media screen and (min-width: 768px) {
  .categories {
    height: 472px;
    width: 337px;
  }
}

@media screen and (min-width: 1440px) {
  .categories {
    height: 472px;
    width: 356px;
  }
}

.categories-list {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

@media screen and (min-width: 768px) {
  .categories-list {
    gap: 32px;
  }
}

/* .categories-list-item {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .categories-list-item {
    margin-bottom: 32px;
  }
} */

.category-btn {
  background-color: inherit;
  border: none;
  text-align: left;

  padding: 0;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;

  color: rgba(17, 17, 17, 0.6);
  transform: scale(1);

  transition: color 200ms, font-weight 200ms, transform 400ms;
}

@media screen and (min-width: 768px) {
  .category-btn {
    font-size: 18px;
    line-height: 24px;
  }
}

.category-btn:hover,
.category-btn:focus {
  color: var(--brand-color);
  transform: scale(1.01);
  transform-origin: center left;
}

.category-btn:focus {
  outline: none;
}

.active-category {
  text-transform: uppercase;
  color: var(--brand-color);
  font-weight: 700;

  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
