<footer class="footer-section">
    <div class="footer-container container">
        <p class="footer-copyright-text">© 2023 All rights reserved.
            <span class="footer-part-text">
                Partial or complete copying of site information is possible only with permission
            </span>
        </p>
        <div class="creators-info">
            <span class="creators-info-text">Created by</span>
            <button type="button" class="open-footer-modal">
                <span class="footer-team-name">Reactive Devs</span>
            </button>
        </div>
    </div>
</footer>

<!------------ FOOTER MODAL -------------->
<div class="footer-modal-backdrop footer-modal-is-hidden">
    <div class="footer-modal">
        <button type="button" class="footer-modal-close-btn">
            <span class="footer-modal-close">&times;</span>
        </button>
        <h2 class="footer-modal-title">Reactive Devs</h2>
        <ul class="developers-list">
            <li class="developer-card">
                <a href="https://github.com/Stanislavbox" target="_blank">
                    <img class="footer-modal-img" src="./img/developer.png" alt="Stanislavbox" width="160">
                    <div class="developer-card-text">
                        <h3 class="footer-modal-developer-name">Stanislavbox</h3>
                        <h4 class="footer-modal-developer-position">Team lead</h4>
                    </div>
                </a>
            </li>
            <li class="developer-card">
                <a href="https://github.com/irkutsio" target="_blank">
                    <img class="footer-modal-img" src="./img/developer.png" alt="irkutsio" width="160">
                    <div class="developer-card-text">
                        <h3 class="footer-modal-developer-name">irkutsio</h3>
                        <h4 class="footer-modal-developer-position">Scrum Master</h4>
                    </div>
                </a>
            </li>
            <li class="developer-card">
                <a href="https://github.com/SaviukIryna" target="_blank">
                    <img class="footer-modal-img" src="./img/developer.png" alt="SaviukIryna" width="160">
                    <div class="developer-card-text">
                        <h3 class="footer-modal-developer-name">SaviukIryna</h3>
                        <h4 class="footer-modal-developer-position">Developer</h4>
                    </div>
                </a>
            </li>
            <li class="developer-card">
                <a href="https://github.com/YazikovXIII" target="_blank">
                    <img class="footer-modal-img" src="./img/developer.png" alt="YazikovXIII" width="160">
                    <div class="developer-card-text">
                        <h3 class="footer-modal-developer-name">YazikovXIII</h3>
                        <h4 class="footer-modal-developer-position">Developer</h4>
                    </div>
                </a>
            </li>
            <li class="developer-card">
                <a href="https://github.com/julie08ua" target="_blank">
                    <img class="footer-modal-img" class="footer-modal-img" src="./img/developer.png" alt="julie08ua"
                        width="160">
                    <div class="developer-card-text">
                        <h3 class="footer-modal-developer-name">julie08ua</h3>
                        <h4 class="footer-modal-developer-position">Developer</h4>
                    </div>
                </a>
            </li>
            <li class="developer-card">
                <a href="https://github.com/PoliukhovychAnna" target="_blank">
                    <img class="footer-modal-img" src="./img/developer.png" alt="PoliukhovychAnna" width="160">
                    <div class="developer-card-text">
                        <h3 class="footer-modal-developer-name">PoliukhovychAnna</h3>
                        <h4 class="footer-modal-developer-position">Developer</h4>
                    </div>
                </a>
            </li>
            <li class="developer-card">
                <a href="https://github.com/dmytroberezhnoi" target="_blank">
                    <img class="footer-modal-img" src="./img/developer.png" alt="dmytroberezhnoi" width="160">
                    <div class="developer-card-text">
                        <h3 class="footer-modal-developer-name">dmytroberezhnoi</h3>
                        <h4 class="footer-modal-developer-position">Developer</h4>
                    </div>
                </a>
            </li>
            <li class="developer-card">
                <a href="https://github.com/MaksTrit" target="_blank">
                    <img class="footer-modal-img" src="./img/developer.png" alt="MaksTrit" width="160">
                    <div class="developer-card-text">
                        <h3 class="footer-modal-developer-name">MaksTrit</h3>
                        <h4 class="footer-modal-developer-position">Developer</h4>
                    </div>
                </a>
            </li>
            <li class="developer-card">
                <a href="https://github.com/KharabaraRoman" target="_blank">
                    <img class="footer-modal-img" src="./img/developer.png" alt="KharabaraRoman" width="160">
                    <div class="developer-card-text">
                        <h3 class="footer-modal-developer-name">KharabaraRoman</h3>
                        <h4 class="footer-modal-developer-position">Developer</h4>
                    </div>
                </a>
            </li>
            </ul>
            </div>
            </div>
    </div>
</div>