<div class="container">
  <div class="header_block">
    <a href="#" class="header__logo">
      <img src="/src/images/logo.png" alt="bookshelf logo">
    </a>
    <a href="../index.html" class="header__home">HOME</a>
    <a href="../shopping_list.html" class="header__shopping_list">SHOPPING LIST <span class="cart__img"><img src="/src/images/Vector.png"
          alt=""></span></a>
    <div class="header__toggle mt-ios" style="font-size: 7px;">
      <input id="1" type="checkbox" />
      <label for="1"></label>
    </div>
    <div class="user_board">
      <img src="/src/images/user.png" alt="" class="header__user_img">
      <p class="header__username">USER</p>
    </div>
  </div>
</div>


<form action="submit" class="sign_form">
  <input type="text" id="input_name" autocomplete="off" placeholder="Name" />
  <input type="text" id="input_email" autocomplete="off" placeholder="Email" />
  <input type="text" id="input_password" autocomplete="off" placeholder="Password" />
  <button class="sign_up">Sign up</button>
</form>