<div class="container">
  <div class="header_block">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html" class="header__logo">
            <svg class="page-logo">
              <use xlink:href="./img/sprite.svg#icon-logo-1"></use>
            </svg>
            <svg class="page-name">
              <use xlink:href="./img/sprite.svg#icon-bookshelf"></use>
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a href="./index.html" class="header__home current">HOME</a>
        </li>
        <li class="nav-item">
          <a href="./shopping_list.html" class="header__shopping_list"
            >SHOPPING LIST
            <span class="cart__img">
              <svg class="header__shopping_icon">
                <use xlink:href="./img/sprite.svg#icon-shopping"></use>
              </svg> </span
          ></a>
        </li>
      </ul>
    </nav>

    <div class="header__toggle">
      <label class="switch">
        <input type="checkbox" class="switch__input" />
        <span class="switch__slider js-switcher"></span> <!--Stas -->
      </label>
    </div>

    <div class="user_board">
      <svg class="header__user_img">
        <use xlink:href="./img/sprite.svg#icon-user"></use>
      </svg>
      <p class="header__username">USERNAME</p>
    </div>
  </div>
</div>

<form action="submit" class="sign_form">
  <input type="text" id="input_name" autocomplete="off" placeholder="Name" />
  <input type="text" id="input_email" autocomplete="off" placeholder="Email" />
  <input
    type="text"
    id="input_password"
    autocomplete="off"
    placeholder="Password"
  />
  <button class="sign_up">Sign up</button>
</form>
