<div class="container">
  <div class="header_block">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html" class="header__logo">
            <svg class="page-logo">
              <use xlink:href="./img/sprite.svg#icon-logo-1"></use>
            </svg>
            <svg class="page-name">
              <use xlink:href="./img/sprite.svg#icon-bookshelf"></use>
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a href="./index.html" class="header__home">HOME</a>
        </li>
        <li class="nav-item">
          <a href="./shopping_list.html" class="header__shopping_list">SHOPPING LIST
            <span class="cart__img">
              <svg class="header__shopping_icon">
                <use xlink:href="./img/sprite.svg#icon-shopping"></use>
              </svg> </span></a>
        </li>
      </ul>
    </nav>

    <div class="header__toggle">
      <label class="switch">
        <input type="checkbox" class="switch__input js-switcher" />
        <!--Stas -->
        <span class="switch__slider"></span>
      </label>
    </div>
    <div class="header__userauthbuttons">
      <button class="user_board_signup is-hidden">
        <p class="header__sign_up_text">Sign up</p>
        <svg class="header__signup_img">
          <use xlink:href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <div class="userboard_dropdown dropdown is-hidden">
        <button class="user_board_name">
          <svg class="header__user_img">
            <use xlink:href="./img/sprite.svg#icon-user"></use>
          </svg>
          <p class="header__username">USERNAME</p>
          <svg class="header__scroldown_img">
            <use xlink:href="./img/sprite.svg#icon-scroll-down"></use>
          </svg>
        </button>
        <button class="dropdown__button" id="logOutButton">
          <span class="logout_text">Log out</span><span class="logout_icon">
            <svg class="header__logout_icon">
              <use xlink:href="./img/sprite.svg#icon-arrow-right"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
    <button class="header__burger_menu">
      <svg class="header__burger_icon">
        <use xlink:href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</div>
<div class="modal-form" id="modal_form">
  <div class="backdrop is-hidden " data-modal id="backdrop_hide_show">
    <div class="modal container-registration">
      <form action="submit" class="sign_up_form sign_in_form">
        <button class="close-modal" id="closeModalButton">
          <svg class="close-form ">
            <use href="./img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <div class="position-form">
          <form action="submit" class="sign_form sign_up_form">
            <!-- <div class="uni-form">
              <div class="position-name">
                <input type="text" name="name" id="sign_up_name" placeholder="name" required>
              </div>
            </div> -->
        </div>
        <div class="uni-form">
          <div class="position-name">
            <input type="email" name="email" id="sign_up_email" placeholder="email" required>
            <svg class="registration-email">
              <use href="./img/sprite.svg#icon-email"></use>
            </svg>
          </div>
        </div>
        <div class="uni-form-pass">
          <div class="position-name">
            <input type="password" name="password" id="sign_up_password" placeholder="password" required>
            <svg class="registration-lock">
              <use href="./img/sprite.svg#icon-lock"></use>
            </svg>
          </div>
        </div>
        <div class="pos-button">
          <button class="button-registraition" type="button">SIGN UP</button>
        </div>
        <div class="pos-button">
          <button class="button-login is-hidden" type="button">SIGN IN</button>
        </div>
        <div class="link-change">
          <a class="first-link link_underline" href="#">SIGN UP</a>
          <a class="last-link" href="#">SIGN IN</a>
        </div>
      </form>
    </div>

  </div>
</div>
<div class="container">
  <div class="modal_burger" id="modal_burger">
    <div class="modal_burger_content">
      <div class="header_block header_block_burger">
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="./index.html" class="header__logo">
                <svg class="page-logo">
                  <use xlink:href="./img/sprite.svg#icon-logo-1"></use>
                </svg>
                <svg class="page-name">
                  <use xlink:href="./img/sprite.svg#icon-bookshelf"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>

        <div class="header__toggle">
          <label class="switch">
            <input type="checkbox" class="switch__input js-switcher-two" />
            <!--Stas -->
            <span class="switch__slider"></span>
          </label>
        </div>
        <button class="close-modal-burger" id="closeBurgerButton">
          <svg class="header__burgercloser__icon">
            <use xlink:href="./img/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="burger__signup_button">
        <button class="burger_user_board_signup is-hidden">
          <p class="header__sign_up_text">Sign up</p>
          <svg class="header__signup_img">
            <use xlink:href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>

        <div class="burger_userinfo is-hidden">
          <div class="burger_usercard">
            <svg class="header__user_img">
              <use xlink:href="./img/sprite.svg#icon-user"></use>
            </svg>
            <p class="burger__username">USERNAME</p>
          </div>
          <div class="burger_nav">
            <a class="burger__home_link current" href="./index.html">HOME</a>
            <a class="burger__sl_link" href="./shopping_list.html">SHOPPING LIST</a>
          </div>

          <button class="burger__logout" id="logOutButtonBurger">
            <span class="logout_text">Log out</span><span class="logout_icon">
              <svg class="header__logout_icon">
                <use xlink:href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>