
<div class="backdrop  is-hidden " data-modal>
  <div class="modal container-registration">

    <div class="position-form">
      <form>
        <div class="uni-form">
          <div class="position-name">

            <input type="text" name="name" id="name" placeholder="name" required>

          </div>
        </div>
        <div class="uni-form">
          <div class="position-name">

            <input type="email" name="email" id="email" placeholder="email" required>
          </div>
        </div>
        <div class="uni-form">
          <div class="position-name">
            <input type="password" name="password" id="password" placeholder="password" required>

          </div>
        </div>
        <div class="pos-button">
          <button class="button-registraition" type="button">SIGN UP</button>
        </div>
        <div class="link-change">
          <a class="first-link" href="#">SIGN UP</a>
          <a class="last-link" href="#">SIGN IN</a>
        </div>
      </form>
    </div>
  </div>
</div>

