<div class="popup-backdrop popup-is-hidden">
  <div class="popup-book-modal popup-is-hidden">
    <button class="popup-book-close-btn js-popup-close" type="button">
      <svg class="popup-book-close-icon js-popup-close" width="24" height="24">
        <use class="js-popup-close" href="./img/sprite.svg#icon-shopping"></use>
      </svg>
    </button>
    <div class="popup-book-wrapper">
      <img class="popup-book-cover" src="" alt="Book`s cover" />
      <div class="popup-book-inner">
        <h2 class="popup-book-title"></h2>
        <h3 class="popup-book-author"></h3>
        <p class="popup-book-description">N/a</p>
        <ul class="list popup-book-shops-list">
          <li class="popup-book-shops-item">
            <a
              href=""
              class="popup-book-shops-link popup-shop-icon-rectungular popup-shop-amazon"
            ></a>
          </li>
          <li class="popup-book-shops-item">
            <a
              href=""
              class="popup-book-shops-link popup-shop-icon-sqr popup-shop-apple"
            ></a>
          </li>
          <li class="popup-book-shops-item">
            <a
              href=""
              class="popup-book-shops-link popup-shop-icon-sqr popup-shop-bs"
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <button class="popup-book-btn" type="button"></button>
    <p class="popup-book-notice">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
