.to-top-target {
  height: 15vh;
  position: absolute;
  top: 0;
  left: 0;
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 2;

  height: 54px;
  width: 54px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4f2ee8;
  fill: #ffffff;
  border: 5px solid transparent;
  border-radius: 50%;

  box-shadow: 0 0 0 5px rgba(79, 46, 232, 0.3);

  transition: scale 1s;
}

.back-to-top:hover,
.back-to-top:focus {
  scale: 1.2;
}

.back-to-top.hidden {
  opacity: 0;
  visibility: hidden;
}
