
body.js-dark-theme{
  background-color: var(--dark-theme-color);
}

/*?HEADER */

.js-dark-theme .header_block{
  border: 1.5px solid var( --main-white-color);
  background-color: var(--main-black-color);
}

.js-dark-theme .page-name{
  fill: #F3F3F3;
}

.js-dark-theme .current{
  color: var(--main-black-color);
}

.js-dark-theme .nav-list{
  color: var(--main-white-color);
}

.js-dark-theme .header__shopping_icon{
  fill: var(--main-white-color);
}

.js-dark-theme .switch__slider{
  background: var(--switcher-dark-theme-gradient);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.js-dark-theme .header__burger_icon{
  stroke: var(--main-white-color);
}

/*? HOME */

.js-dark-theme .home-title{
  color: var(--main-white-color);
}

.js-dark-theme .book-name,
.js-dark-theme .book-title{
  color: var( --main-white-color);
}

.js-dark-theme .btn-see-more{
  background-color: transparent;
  color: var(--main-white-color);
}

/*? CATEGORY */

.js-dark-theme .category-btn.active-category{
  color: var(--accent-color);
}

.js-dark-theme .category-btn:hover{
  color: var(--accent-color);
}


.js-dark-theme .category-btn{
  color: rgba(255, 255, 255, 0.6)
}

.js-dark-theme .categories::-webkit-scrollbar {
  background: none;
  width: 8px;
  border-radius: 12px;
}

.js-dark-theme .categories::-webkit-scrollbar-thumb {
  background: var(--secondary-text-color);
}

/*? POP UP MODAL */

.js-dark-theme .popup-book-modal{
background-color: var(--dark-theme-color);
}

.js-dark-theme .popup-book-title{
  color: var( --main-white-color);
}

.js-dark-theme .popup-book-description{
  color: var( --main-white-color);
}

.js-dark-theme .popup-book-close-icon{
  fill: var( --main-white-color);
}

.js-dark-theme .popup-book-btn{
  color: var( --main-white-color);
}

.js-dark-theme .popup-book-notice{
  color: rgba(255, 255, 255, 0.5);
}