.wrap-for-footer{
    min-height: calc(100vh - 60px);
}

.footer-section {
    border-top: 1px solid var(--brand-color);
    bottom: 0;
}

.footer-container {
    padding: 20px;
    color: var(--subtitle-color);
    text-align: center;
    font-size: 14px;
    
}

.footer-team-name {
    font-size: 16px;
}

.open-footer-modal {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;

    text-decoration: underline;
    color: var(--brand-color);

    transition: transform var(--animation), color var(--animation);
}

.open-footer-modal:hover,
.open-footer-modal:focus{
    transform: scale(1.05);
    color: var(--accent-color);
}

@media screen and (max-width: 767px) {
    .footer-part-text {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .footer-container {
        padding: 20px 32px;
    }
}

@media screen and (min-width: 1440px) {
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 120px 20px 24px;
        color: var(--subtitle-color);
    }

    .creators-info {
        display: flex;
        align-items: center;
    }

    .creators-info-text {
        margin-right: 10px;
    }
}

/*----------------- FOOTER MODAL --------------------*/

.footer-modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);

    opacity: 1;
    visibility: visible;
    transition: opacity var(--animation), visibility var(--animation);
}

.footer-modal-is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.stop-background {
    overflow: hidden;
}

.footer-modal-is-hidden .footer-modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.footer-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    padding: 20px;
    width: 320px;
    max-height: 90vh;

    text-align: center;
    overflow: auto;
    border-radius: 3px;

    background-color: var(--main-white-color);
    transition: transform var(--animation), opacity var(--animation);
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .footer-modal {
        width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .footer-modal {
        width: 680px;
    }
}

.footer-modal-close-btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.footer-modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    width: 28px;
    height: 28px;
    padding: 0;
}

.footer-modal-close-btn:hover,
.footer-modal-close-btn:focus {
    color: var(--brand-color);
}

.developers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 15px;
    justify-content: center;
}

.footer-modal-title {
    color: var(--brand-color);
    margin-bottom: 25px;
}

.footer-modal-img {
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    object-fit: cover;
    overflow: hidden;

    transition: transform var(--animation);
}

.developer-card {
    transition: transform var(--animation);
}

.developer-card:hover,
.developer-card:focus {
    transform: scale(1.05);
}

.developer-card-text {
    margin-top: 5px;
}

.footer-modal-developer-name {
    font-size: 18px;
}

.footer-modal-developer-position {
    font-size: 16px;
    color: var(--subtitle-color);
    font-style: italic;
}