.header_block {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.header__logo {
  margin: 22px 0px;
  height: 28px;
  display: flex;
  align-items: center;
  margin-left: 24px;
}


.page-logo {
  height: 24px;
  width: 24px;
}

.page-name {
  width: 77px;
  height: 14px;
  margin-left: 8px;
}


.header__home {
  margin-left: 76px;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 25px;
  font-family: 'DM Sans';
}

.current {
  background-color: #EAC645;
}

.header__shopping_list {
  display: flex;
  align-items: center;
  margin-left: 4px;
  padding: 6.5px 16px;
  text-decoration: none;
  border-radius: 25px;
}


.header__shopping_icon {
  width: 13px;
  height: 16px;
  margin-left: 7px;
  align-self: center;
  transform: translateY(1.5px);
}

.user_board {
  padding: 4px;
  display: flex;
  align-items: center;
  margin-right: 24px;

  background-color: #4F2EE8;
  text-decoration: none;
  border-radius: 25px;
  color: #fff;
  width: fit-content;

}

.header__username {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}

.header__user_img {
  height: 37px;
  width: 37px;
  background-color: #fff;
  border-radius: 25px;
  border: 9px solid white;

  fill: #4F2EE8;
}


.header__toggle {
  margin-right: 24px;
  margin-left: auto;
}

.sign_form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form-container {
  border: 1px solid red;
  width: fit-content;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
}


.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;

}

.switch__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background-image: linear-gradient(#4F2EE8 0%, #DCDCDC 100%);
}

.switch__slider::before {
  content: '';
  position: absolute;
  cursor: pointer;
  bottom: 1px;
  left: 1px;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 25px;
  transition: .3s;
}

.switch__input:checked+.switch__slider::before {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transition: .3s;
}