:root {
  --primary-font: 'DM Sans', sans-serif;
  --main-text-color: #111111;
  --accent-text: #4f2ee8;
  --additional-text: #b4afaf;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
}

ul {
  list-style: none;
}

img {
  display: block;
}

.home-wrapper {
  /* width: 1000px; */
  /* margin: 40px 24px 40px 40px; */
}

.category-container {
  margin-top: 40px;
}

/* .books-container {
    /* margin-top: 40px; */
/* margin-left: 40px;
    margin-right: 24px;
    padding-bottom: 78px;
    padding: 0; */
/* } */

.books-list {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  margin: 0;
  padding-left: 0;
}

.book-item {
  width: 180px;
}

.book-img {
  width: 180px;
  height: 256px;
}

.home-title {
  font-weight: 700;
  font-size: 48px;
  line-height: calc(52 / 48);
  letter-spacing: -0.04em;
  color: var(--main-text-color);

  /* margin-top: 40px; */
}

.home-title-accent {
  color: var(--accent-text);
}

.home-book-category {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--additional-text);

  margin-bottom: 18px;
  margin-top: 0;
}

.book-name {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(18 / 16);
  letter-spacing: -0.04em;
  color: var(--main-text-color);

  margin-top: 14px;
  margin-bottom: 4px;
}

.author-name {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.04em;
  color: var(--additional-text);

  margin: 0;
}

.btn-see-more {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 32px;
  padding: 14px 28px;
  background-color: #ffffff;
  margin-left: auto;

  width: auto;
  height: 46px;

  border: 2px solid var(--accent-text);
  border-radius: 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.01em;

  transition: background-color 1000ms linear, transform 300ms linear;
}

.btn-see-more:hover {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: scale(1.1);
}

.img-wrapper {
  position: relative;
  display: block;
  width: 180px;
  height: 256px;
  border-radius: 8px;
  overflow: hidden;
}

.overlay {
  background-color: #eac645;
  position: absolute;
  bottom: 53px;
  left: 0;
  width: 100%;
  height: 30%;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: var(--main-text-color);

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(170%);
  transition: transform 250ms ease;
}

.book-item:hover .overlay {
  transform: translateY(70%);
}

.text-overlay:hover {
  color: #ffffff;
}
