.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #4F2EE8;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backdrop-filter: blur(3px);
    z-index: 99999;
}

.is-hidden {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .container-registration {
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;

    }
}

@media screen and (min-width: 768px) {
    .container-registration {
        width: 579px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 768px) {
    .position-form {
        padding: 80px 0px 0px 0px;
    }
}


@media screen and (min-width: 768px) {
    .modal {
        padding-top: 80px;
    }
}

.modal {
    padding-top: 40px;
    background: #F6F6F6;
    border: 2px solid #111111;
    border-radius: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
    display: flex;
    flex-direction: column;

}

.uni-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .margin {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 768px) {
    .position-name {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    input {
        width: 499px;
    }
}

.uni-form input {
    padding: 16px 0px 16px 24px;
}

@media screen and (min-width: 768px) {
    .uni-form input {
        padding: 20px 0px 20px 40px;

    }
}

input:focus,
input:hover {
    outline: none;
}



input {
    border: 2px solid #111111;
    border-radius: 40px;
}


input::placeholder {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;



    text-transform: uppercase;

    color: #111111;




    flex: none;
    order: 0;
    flex-grow: 0;
}



.position-name {
    display: flex;
    align-items: center;

}



.button-registraition {
    background-color: black;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #F3F3F3;
    white-space: nowrap;
    padding: 16px 50px;
    border-radius: 40px;
}
@media screen and (min-width: 768px) {
    .button-registraition {
        width: 545px;
        border-radius: 40px;
    }

    .button-login {
        width: 545px;
        border-radius: 40px;
    }
}

.button-login {
    background-color: black;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #F3F3F3;
    white-space: nowrap;
    padding: 16px 60px;
    border-radius: 18px;
}

.pos-button {
    display: flex;
    justify-content: center;
}

.link-change {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}


.first-link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;



}


@media screen and (min-width: 768px) {
    .first-link {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.01em;
        /* text-decoration-line: underline;
        text-transform: uppercase;

        color: #4F2EE8; */
    }
}


.last-link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: -0.01em;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .last-link {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;


        letter-spacing: -0.01em;
        text-transform: uppercase;

    }
}

.link_underline {
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #4F2EE8;
}

.close-form {
    stroke: #111111;
    width: 10px;
    height: 10px;
    padding: 0;
    top: 5px;
    right: 5px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .close-form {
        top: 31px;
        right: 31px;
        width: 14px;
        height: 14px;
    }
}

.registration-email {
    width: 20px;
    height: 20px;
    stroke: #111111;
    position: absolute;
    top: 46, 3%;
    transform: translateX(-50%);
    right: 27px;
    fill: white;
}

@media screen and (min-width: 768px) {
    .registration-email {
        width: 25px;
        height: 25px;
        right: 43px;
    }
}

.registration-lock {
    width: 20px;
    height: 20px;
    stroke: #111111;
    position: absolute;
    top: 46, 1%;
    transform: translateX(-50%);
    right: 27px;
    fill: white;
}

@media screen and (min-width: 768px) {
    .registration-lock {
        width: 25px;
        height: 25px;
        right: 43px;
    }
}
.button-registraition {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button-registraition:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-registraition:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}