/* ======================= */
.fixed-background {
  overflow: hidden;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(17, 17, 17, 0.4);


  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.popup-backdrop.popup-is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.popup-book-modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 335px;
  max-height: 80%;
  overflow-y: auto;

  padding: 40px 24px;
  border: 2px solid var(--main-black-color);
  border-radius: 18px;
  background-color: var(--main-white-color);

  opacity: 1;
  visibility: visible;

  transition: visibility 0.5s ease,
    opacity 0.5s ease 0.5s;
}

.popup-book-modal.popup-is-hidden {
  opacity: 0;
  visibility: hidden;
}

.popup-book-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  padding: 0;

  box-sizing: border-box;
  border: none;
  color: var(--main-black-color);
}

.popup-book-close-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  transition: fill var(--animation);
}

.popup-book-close-btn:hover .popup-book-close-icon,
.popup-book-close-btn:focus .popup-book-close-icon {
  fill: var(--brand-color);
}

.popup-book-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 40px;

  letter-spacing: -0.04em;
}

.popup-book-cover {
  max-width: 287px;
  margin-bottom: 14px;
  border-radius: 8px;
}

.popup-book-title {
  margin-bottom: 4px;

  text-transform: uppercase;
  font-size: 16px;
  line-height: calc(18 / 16);
  color: var(--main-black-color);
}

.popup-book-author {
  margin-bottom: 18px;

  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);

  color: var(--subtitle-color);
}

.popup-book-description {
  margin-bottom: 14px;

  font-size: 14px;
  line-height: calc(18 / 14);

  color: var(--main-black-color);
}

.popup-book-shops-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.popup-book-shops-link {
  display: block;
  /* mix-blend-mode: luminosity; */
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0));
  transition: filter var(--animation);
  background-size: contain;
}

.popup-book-shops-link:hover,
.popup-book-shops-link:focus {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.popup-shop-amazon {
  width: 62px;
  height: 20px;
  background-image: url(../img/bookstores/amazon@2x.png);
  background-repeat: no-repeat;
}

.popup-shop-apple {
  width: 33px;
  height: 32px;
  background-image: url(../img/bookstores/apple-books@2x.png);
}

.popup-shop-bs {
  width: 38px;
  height: 36px;
  background-image: url(../img/bookstores/book-shop@2x.png);
}

.popup-book-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 14px 23px;

  background-color: inherit;

  border: 2px solid var(--brand-color);
  border-radius: 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--main-black-color);
  transition: background-color var(--animation), color var(--animation);
}

.popup-book-btn:hover {
  background-color: var(--brand-color);
  color: var(--main-white-color);
}

.popup-book-notice {
  margin-top: 8px;

  font-size: 10px;
  line-height: calc(12 / 10);

  text-align: center;
  letter-spacing: -0.04em;

  color: rgba(17, 17, 17, 0.5);
}

@media (min-width: 760px) {
  .popup-book-modal {

    max-width: 580px;
    padding: 40px 40px;
  }

  .popup-book-close-btn {
    top: 24px;
    right: 24px;
    padding: 2px;
  }

  .popup-book-wrapper {
    flex-direction: row;
    gap: 24px;
    margin-right: auto;
  }

  .popup-book-cover {
    max-width: 192px;
    margin-bottom: 0;
  }

  .popup-book-title {
    margin-bottom: 8px;

    font-size: 24px;
    line-height: calc(28 / 24);
  }

  .popup-book-author {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: calc(18 / 14);
  }

  .popup-book-description {
    margin-bottom: 20px;
  }

  .popup-book-btn {
    width: 100%;
    padding: 20px;

    font-size: 18px;
    line-height: calc(24 / 18);

  }

  .popup-book-notice {
    font-size: 12px;
    line-height: calc(14 / 12);
    width: 320px;
  }
}