

.shopping__title{
    position: absolute;
    width: 292px;
    height: 52px;
    color: var(--main-black-color);
    
    margin-left: 420px;
    margin-top: 40px;
     }
    
     .list{
        color: var(--brand-color);
     }

     .shopping_card_container{
      display: flex;
    }
    
    .shopping-card-content{
      
     padding: 24px;
    
      border: 1px solid rgba(79, 46, 232, 0.4);
      border-radius: 16px;
    }
    .book-poster{
      margin-right: 24px;
    }
    /* .book-content{
      
    } */
    .book-poster{
      width: 116;
      height: 165;
    
    }
     

    /* Пагінація */

    /* .section_pagination{
      
      align-items: center;
      text-align: center;
      margin: 0 auto;
    } */

     .pagination{
      display: flex;
      align-items: center;
      text-align: center;
      /* background: #fff; */
      color: var(--main-black-color);
      padding: 10px 40px;
      border-radius: 6px;
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      
     }
     
     .pagination_list{
margin: 20px;
     }
     .pagination_list .pagination_link{
      display: inline-block;
      margin: 0 10px;
      background: var(--main-wite-color);
      width: 45px;
      height: 45px;
      border: 1px solid #111111;
      border-radius: 50%;
      text-align: center;
      font-size: 22px;
      font-weight: 500;
      line-height: 45px;
      cursor: pointer ;
     }

     .pagination_list .pagination_link.active{
color: #fff;
background: #111111;
background-repeat: no-repeat;
     } 


     /* .pagination_btn1, .pagination_btn2{
      display: inline-block;
      margin: 0 10px;
      background: var(--main-black-color);
      width: 45px;
      height: 45px;
      color: #fff;
      border-radius: 50%;
      border: 1px solid #111111;
      text-align: center;
      font-size: 22px;
      font-weight: 500;
      line-height: 45px;
      cursor: pointer ;
     } */

     .pagination_btn1:disabled, .pagination_btn2:disabled{
background:#111111 ;
pointer-events: none;
     }

     .pagination_btn1, .pagination_btn2, .pagination_btn3, .pagination_btn4 {
      display: inline-block;
      margin: 0 10px;
      background: var(--accent-color);
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 1px solid #111111;
      text-align: center;
      font-size: 22px;
      font-weight: 500;
      line-height: 45px;
      cursor: pointer ;
     }

   
     .pagination_link:hover,
     .pagination_link:focus{
      color: #fff;
      background-color: var(--main-black-color);
      
     }