/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./fonts.css');
@import url('./vars.css');
@import url('./reset.css');
@import '../../node_modules/modern-normalize/modern-normalize.css';

@import url('./header.css');
@import url('./spinner.css');

/* Sidebar */
@import url('./categories-book/categories-menu.css');
@import url('./support_ua.css');

/* Main content */
@import url('./categories-book/home-content-books-category.css');

@import url('./home_page.css');
@import url('./switcher.css'); /*! Stas*/


.container {
  max-width: 1440px; /* Установите максимальную ширину контейнера */
  margin: 0 auto; /* Центрируйте контейнер на странице */
  padding: 0 24px; /* Добавьте отступы слева и справа для контента */
  box-sizing: border-box; /* Установите box-sizing на border-box, чтобы padding не увеличивал ширину элемента */
}

