.support-ua-block {
    width: 356px;
    padding:24px 79px 0px 40px;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
    border-radius: 16px;
    }
    
.support-title-flex {
    display: flex;
}

    .support-ua-title{
        margin-bottom: 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    }
    
    .support-ua-num, .support-ua-link {
        color:#FFFFFF;
    }
    
   
    
    .support-ua-item {
      /* height: 32px; */
        max-width:159px;
        margin-bottom: 20px;
    }
    
    /* .support-ua-link {
        color:black;
    } */
    
    .support-ua-num {
        font-family: 'DM Sans';
        margin-right: 16px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
    }

.support-img {
 height: 32px; 
    /* max-width: 149px; * */
    filter: brightness(0) invert(1);
    transition:transform var(--animation);
   
}

.support-img:hover {
    transform: scale(1.1);

}
  
  .support-ua-link {
    display: flex;
    align-items: center;
  
  }

  .support-icon {
    fill:#FFFFFF;
    margin-left: 12px;
  }


  .next {
    display: flex;
    justify-content: center;
    margin-left: 120px;
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: none;
    fill: var(--brand-color);
    transition-property:all ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

 
  .next:active
   {
    fill: #ffffff;
    background-color:var(--brand-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  } 

.support-ua-list:last-child {
  margin-bottom: 0;
}

/* .slick-arrow {
  display: block;
} */